* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #ffffff;
	min-height: 100vh;
    position: relative;
}

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000000, #ffffff);
	clip-path: circle(60% at right 70%);
}

section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#cf0041, #5a3737);
	clip-path: circle(30% at 10% 10%);
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 40px 0;
    width: 100%;
}

.container .card {
	position: relative;
    width: 80%;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 100%; 
    height: 100%;
	transition: 0.5s;
}
.contentBx{
    margin-bottom: 20px;
}
.contentBx:hover a{
    color: rgb(0, 149, 255);
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));

}
.contentBx a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: bold;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
} 
.container .card .content p{
    padding: 50px 100px;
    line-height: 60px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: justify;
    text-transform: capitalize;
    justify-items: center;
    display: flex;
    font-size: 1.8em;
    flex-direction: column;
    
}
.container .card .content p span{
    padding: 40px;
    font-size: 2em;
    text-align: center;
}

.container .card:hover .content .imgBx{
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.container .card:hover .content{
	transform: translateY(-40px);
    
}

.container .card .content .imgBx {
	position: relative;
    margin-top: 20px;
	width: 80%;
	height: 1200px;
	overflow: hidden;
    border: 1px white solid;
    border-radius: 10px;
    border: 1px solid black;
    
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 3em;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}


.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
    
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}